.about-grid {
	@media screen and (min-width: 700px) {
		padding-left: 1.5rem;
	}
}

.card {
	background-color: $dark-color;
	border-radius: $border-radius-general;
	padding: $card-padding;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: $border-general;
}

.card-title {
	color: $primary-color;
	font-family: "Barlow";
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1rem;
	font-size: 1.4rem;
}

.card-content {
	font-size: 0.9rem;
	line-height: 1.5;
	color: $light-color;
}

.about-left-col {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@media screen and (min-width: 700px) {
		padding: 0;
	}
}

.about-top-row,
.about-bottom-row {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;

	@media (min-width: 700px) {
		grid-template-columns: 1fr 2fr;
	}
}

.logo-card {
	@include flex-center;

	img {
		filter: invert(34%) sepia(87%) saturate(2978%) hue-rotate(209deg)
			brightness(92%) contrast(88%);
		width: 100%;
	}
}

.mission-card {
	.mission-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li {
			display: flex;
			align-items: center;
			gap: 20px;

			.mission-icon {
				max-width: 50px;
			}

			p {
				font-size: 0.85rem;
				color: rgba($light-color, 0.7);
			}
		}
	}
}

.faq-card {
	.faq-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 0.8rem;

		@media (min-width: 700px) {
			grid-template-columns: 1fr 1fr;
		}

		.faq-item {
			background-color: rgba(255, 255, 255, 0.03);
			padding: 1rem;
			border-radius: 10px;

			h3 {
				font-size: 0.9rem;
				font-weight: 600;
				margin-bottom: 0.5rem;
			}
			p {
				font-size: 0.8rem;
				color: rgba($light-color, 0.6);
			}
		}
	}
}

.about-sidebar {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	@media screen and (min-width: 700px) {
		padding: 0 1.5rem 0 0;
	}
}

.contact-form-card {
	width: 100%;
}
.mini-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	input {
		background: transparent;
		border: $border-general;
		padding: 0.8rem;
		border-radius: 10px;
		color: $light-color;

		&::placeholder {
			color: rgba($light-color, 0.4);
		}
		&:focus {
			border-color: $primary-color;
		}
	}
}

.join-us {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.join-us-card {
	position: relative;
	height: 140px;
	border-radius: $border-radius-general;
	overflow: hidden;
	cursor: pointer;
	background-image: url(https://picsum.photos/200/300);
	background-position: center;
	background-size: cover;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	.join-us-card-content {
		position: relative;
		height: 100%;
		padding: $card-padding;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 2;

		h3 {
			font-weight: 600;
		}

		.arrow-icon {
			content: url(../assets/icons/wind.svg);
			position: absolute;
			right: 1.5rem;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1.5rem;
		}
	}

	&:hover {
		.bg-img {
			transform: scale(1.05);
		}
		.arrow-icon {
			transform: translate(5px, -50%);
		}
	}
}
