.about-grid {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	padding: 1rem;

	@media screen and (min-width: 700px) {
		grid-template-columns: 1fr 2fr 1fr !important;
		align-items: center !important;
	}
}

.col-1,
.col-2,
.col-3 {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.card {
	background-color: $dark-color;
	border-radius: $border-radius-general;
	padding: $card-padding;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: $border-general;
}

.card-title {
	color: $primary-color;
	font-family: "Alice";
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 1rem;
	font-size: 1.4rem;
}

.card-content {
	font-size: 0.9rem;
	line-height: 1.5;
	color: $light-color;
}

.logo-card {
	@include flex-center;
	min-height: 200px;

	img {
		width: 100%;

		&:hover {
			filter: grayscale(1) brightness(0) invert(1);
		}
	}
}

.mission-card {
	.mission-list {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li {
			display: flex;
			align-items: center;
			gap: 20px;

			&:hover {
				.mission-icon {
					transform: rotate(15deg);
				}
			}
			.mission-icon {
				width: 30px;
				height: 30px;
				object-fit: contain;
			}

			p {
				font-size: 0.85rem;
				color: rgba($light-color, 0.7);
			}
		}
	}
}

.faq-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.8rem;

	@media (min-width: 700px) {
		grid-template-columns: 1fr 1fr;
	}

	.faq-item {
		background-color: rgba(255, 255, 255, 0.03);
		padding: 1rem;
		border-radius: 10px;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}

		h3 {
			font-size: 0.9rem;
			font-weight: 600;
			margin-bottom: 0.5rem;
		}
		p {
			font-size: 0.8rem;
			color: rgba($light-color, 0.6);
		}
	}
}

.about-sidebar {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	* {
		width: 100%;
	}
}

.mini-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	input {
		background: transparent;
		border: $border-general;
		padding: 0.8rem;
		border-radius: 10px;
		color: $light-color;

		&::placeholder {
			color: rgba($light-color, 0.4);
		}
		&:focus {
			border-color: $primary-color;
		}
	}
}

.join-us-card {
	position: relative;
	height: 140px;
	border-radius: $border-radius-general;
	overflow: hidden;
	cursor: pointer;
	background-image: url(https://picsum.photos/200/300);
	background-position: center;
	background-size: 100%;
	border: $border-general;

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0) 100%
		);
	}

	.join-us-card-content {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 2;

		h3 {
			font-weight: 600;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		}

		.arrow-icon {
			content: url(../assets/icons/wind.svg);
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
		}
	}

	&:hover {
		background-size: 110%;

		.arrow-icon {
			transform: translate(20px, -50%);
		}
	}
}
